$color-main: #173D58;
$color-main-complementary: #80D8FF;
$color-complementary: #9d9d9d;
$color-main-bg: #ffffff;
$color-main-bg-complementary: #F0F0F0;
$color-structure: #EFEFEF;

@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

// global styling setting

body{
  font-family: 'Noto Sans TC', sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom;
}

// styling helper

.img-rounded {
  border-radius: 6px;
  box-shadow: 0 3px 3px rgba(193, 193, 185, 0.5);
}

button.btn-main{
  color: white;
  background-color: $color-main;
  padding: 10px 20px;
}
button.btn-main:hover{
  color: white;
  background-color: $color-main-complementary;
}
button.btn-main:focus{
  color: white;
  background-color: $color-main-complementary;
}

@import 'index';

@import 'product';

@import 'detail';

@import 'cart';
